*
{
    box-sizing: border-box;
}
h1
{
    text-align: center;
    background-color: #888;
    color: #fff;
}
input,
button
{
    border:1px solid #ccc;
    font-size:5vw;
    line-height:7vw;
    height:10vw;
    padding:0 5vw;
    outline: 0;
}
input
{
    border-radius:5vw 0 0 5vw;
}
button
{
    border-radius:0 5vw 5vw 0;
}
#chats
{
    font-size:5vw;
}
#chats dt
{
    margin: 2vw 0;
    border:1px solid #333;
    border-radius:3vw;
    padding:1vw 3vw;
    display: inline-block;
}
#chats dd
{
    margin-left: 8vw;
    position: relative;
    background-color:#ccc;
    border-radius:3vw;
    padding:1vw 3vw;
}
#chats dd::before
{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -6vw;
    margin-top: -7vw;
    border: 3vw solid transparent;
    border-right: 8vw solid #ccc;
    transform: rotate(40deg);
    z-index: -1;
}

#form
{
    display:none;
}
